body {
    font-family: Poppins;
    font-size: 16px;
    padding: 0%;
    margin: 1vh;
    display: flex;
    overflow: hidden;
}

.wrapper {
    cursor: default;
    position: sticky;
    top: 10px;
    padding: 20px;
    border: solid 1px #000000;
    border-radius: 20px;
    background-color: #00000027;
    min-width: 35px;
    height: 93vh;
    overflow: hidden;
    word-wrap: break-word;
    transition: all 300ms ease-in-out 200ms;
}

.wrapper:hover {
    min-width: 200px;
}

.wrapper:hover .opt p {
    transform: translateX(15px);
}

.profile-pic p {
    font-size: 20px;
    font-weight: 700;
}

.opt {
    display: flex;
    align-items: center;
    transition: all 500ms ease-in-out 150ms;
}

img {
    width: 25px;
}

.opt {
    margin-block: 10px;
    cursor: pointer;
}

.menu {
    margin-left: -10px;
}

.opt p {
    transform: translateX(60px);
    transition: all 400ms ease-in-out 100ms;
    align-items: center;
}

label {
    display: flex;
    cursor: pointer;
    width: 10%;
    padding-inline: 15px;
    background-color: transparent;
    transition: all 300ms ease-in-out 100ms;
}

.hide {
    display: none;
}

label:hover {
    background-color: #bbbbbb;
    border-radius: 15px;
    width: 100%;
}

input[type="radio"]:checked ~ label {
    background-color: #4144e7;
    cursor: pointer;
    width: 60%;
    padding-inline: 15px;
    border-radius: 15px;
}

.notification {
    position: relative;
}

.notification::after {
    position: absolute;
    content: "";
    background-color: red;
    color: #ffffff;
    top: 15px;
    left: 10px;
    width: 10px;
    height: 10px;
    font-size: 10px;
    border-radius: 100%;
}