body {
    font-family: Poppins;
    font-size: 16px;
}

.wrapper {
    cursor: pointer;
    padding: 20px;
    border: solid 1px #000000;
    border-radius: 20px;
    width: 35px;
    overflow: hidden;
    word-wrap: break-word;
    transition: all 300ms ease-in-out 200ms;
}

.wrapper:hover {
    width: 200px;
}

.profile-pic p {
    font-weight: 700;
}

.opt {
    display: flex;
    gap: 20px;
    justify-content: start;
    margin-block: 10px;
    transition: all 200ms ease-in-out 100ms;
}

.opt img {
    width: 25px;
}

.opt p {
    transform: translateX(20px);
    transition: all 500ms ease-in-out 150ms;
}

.wrapper:hover .opt {
    padding-inline: 15px;
    border-radius: 15px;
}

.wrapper:hover .opt p {
    transform: translateX(0px);
}

.menu {
    background-color: transparent;
    transition: all 200ms ease-in-out 100ms;
}

.menu:hover {
    background-color:  #4144e7;
}

.notification img {
    position: relative;
    display: block;
}

.notification img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
}